@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
}

html, body {
    background-color: rgb(252, 252, 252);
}

/* ======== Nav Bars ======== */
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all 0.5s ease;
    height: 10%;
    width: 100%;
    z-index: 1;
}
#navbar {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 80px;
}
#nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5.5%;
    top: -200px;
    transition: all 0.3s ease-in-out;
}
#header.hide {
    top: -1000px;
}

#nav2.show {
    top: 0;
}

.nav-wrapper1, .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.85);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.nav-wrapper {
    margin-top: 2%;
    border-radius: 80px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 4;
}

/* ======== Nav Bars Logos ======== */
nav img {
    width: 100%;
    height: 100%;
    display: block;
}

#navLogo {
    width: 10%;
    margin-left: 5%;
}

#nav2 #img {
    width: 25%;
    margin-left: 4%;
}


/* ======== Nav Bars lists ======== */
.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    font-weight: 500;
}

.menu li:hover {
    padding-bottom: 1%;
    border-bottom: 0.35vw solid #C518DD;
}

#menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 5%;
    width: 12%;
    height: 100%;
}

#nav2 ul {
    width: 70%;
    margin-right: 0;
    font-size: 1.25vw;
}

#li-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    font-size: 1.1vw;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #C518DD;
    box-shadow: 0px 1px 3px 0px #C518DD, inset 0px 0px 2px 1px #e62aff;
    transition: all 0.3s ease-in-out;
}
#li-btn:hover{
    background-color: #e328fc;
    box-shadow: 0px 0px 10px 1px #db24f3;
    transform: scale(1.08);
}
nav li {
    cursor: pointer;
}


/* ==== Side Nav ==== */
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow-x: hidden;
    z-index: 4;
    height: 100%;
    width: 33%;
    padding-top: 5%;
    top: 0;
    right: -200%;
    background-color: rgb(254, 254, 254);
    transition: right 0.4s ease-in-out;
}

.sidenav a {
    display: inline-block;
    margin-bottom: 5%;
    border-bottom: 0.6vw solid transparent;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 400;
    color: rgb(19, 18, 18);
    white-space:pre-line;
    transition: border 0.4s ease-in-out;
}
.sidenav a:hover{
    border-bottom: 0.6vw solid rgb(234, 11, 140);
}
.closebtn:hover {
    color: rgb(234, 11, 140);
}
.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3vw;
    margin-left: 4.15vw;
    display: inline-block;
}
#social {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#social a {
    width: 8%;
}
#social img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

#side-container {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-image: url(/sideNav/Live-Motion-Background.svg);
    background-color: rgb(185, 13, 253, 0.7);
    background-blend-mode:lighten;
    overflow-x: hidden;
    z-index: 2;
    transition: all 0.25s ease-in;
}
/* =================== */


/* ==== Landpage ==== */
#land-sec {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* ==== Section 1 ==== */
#sec1 {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#imgs {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#tarjeta{
    margin-top: -87.5%;
    margin-right: -20%;
    width: 80%;
}
#chic {
    width: 100%;
}
#cel {
    width: 75%;
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
}

.title h1 {
    font-size: 4vw;
    font-weight: 500;
}
.title form {
    width: 100%;
}
.title input {
    width: 100%;
    margin-bottom: 10%;
    border: none;
    border-bottom: 0.125vw solid rgb(46, 45, 45);
    color: black;
    outline: none;
    padding-bottom: 0.35vw;
    background-color: transparent;
    margin-top: 5%;
}
.title input::placeholder{
    color: rgb(66, 66, 66);
    font-weight: 500;
    background-color: transparent;
}

.title button {
    width: 100%;
    font-size: 1.5vw;
    border: none;
    border-radius: 50px;
    padding: 2.5%;
    background-color: #C518DD;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.title button:hover {
    display: block;
    padding-bottom: 5%;
    background-color: #d816f1;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
/* =================== */


/* ==== Section 2 ==== */
#sec2 {
    line-height: 1.8;
}
#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
}
#comments h2{
    margin: 3% 0;
    font-size: 2.2vw;
    font-weight: 500;
}
#text{
    text-align: center;
    width: 80%;
    font-size: 2.5vw;
    font-weight: 600;
}
#comments a{
    margin: 3% 0;
    font-weight: 500;
    font-size: 1.5vw;
}
/* ==================== */


/* ==== Section Benefits and Req ==== */
#sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*background-color: #2E294E;*/
    background-color: #323365;
}
#sec3 > p {
    font-size: 2.2vw;
    font-weight: 500;
    color: white;
    margin: 3.5% 0;;
}

#benef {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 11vw;
}
#benef div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin: 2%;
    border-radius: 1.65vw;
}
#benef img {
    width: 55% !important;
    object-fit: cover;
    border: 0;
}
#benef div:nth-child(5) img {
    object-fit: cover;
    transform: scale(0.7);
}
#benef p {
    font-size: 1.25vw;
    width: 90%;
    text-align: center;
}

#need {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 11vw;
}
#need div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1.65vw;
    background-color: whitesmoke;
    margin: 2%;
}
#need img {
    width: 55% !important;
    object-fit: cover;
    border: 0;
}
#need p {
    width: 90%;
    text-align: center;
    font-size: 1.25vw;
}

#sec3 button {
    margin: 5% 0;
    width: 25%;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.4vw;
    padding: 1.1%;
    background-color: #C518DD;
    color: whitesmoke;
}

/*
#sec-img {
    position: absolute; 
    height: 66%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/pexels-pavel-danilyuk-6407766.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
}
#sec-img::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(19, 57, 138, 0.603);
}
#sec-img h1 {
    position: relative;
    color: #ffffff;
    width: 60%;
    font-weight: 500;
    font-size: 2vw;
    line-height: 1.7;
    text-align: center;
}
*/


/* ====== Section Tarjetas ====== */
#tarjetas {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}
#tarjetas > p {
    font-size: 2.2vw;
    font-weight: 500;
}
.perks p {
    font-size: 2vw !important;
    font-weight: 400 !important;
}
#vexiCard, #amexCard {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    padding: 0 9%;
}
#tarjetas .div-image {
    width: 30%;
    border: 0;
}
#tarjetas div img {
    width:100%;
    display: block;
    border: 0;
    border-radius: 4%;
    box-shadow: rgb(86, 87, 88) 2px 4px 4px 0px, rgba(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(20, 204, 218) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 217, 19) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 255) 40px -40px;
    transition: all 0.4s ease-in-out;
}
#tarjetas div img:hover {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
#tarjetas ul {
    display: flex;
    justify-content: space-evenly;
}
    /*
    flex-direction: column;
    list-style-image: url(/tarjetas/vexi-bullet.png) ;
    width: auto;
    height: 100%;
    font-size: 1.2vw;
    list-style-position: inside;
*/
#tarjetas .perks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    text-align: center;
    background-color: rgba(232,232,232);
    border-radius: 0.6vw;
}
#tarjetas li {
    margin: 2% 0;
    margin-bottom: 4.5%;
    font-size: 1.65vw;

}
/* ============================= */

/* =========== Mentions ============ */

#mentions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 12%;
    background-color: rgb(45, 45, 55);
    color: whitesmoke;
}
#mentions ul {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin-bottom: 10%;
}
#mentions li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    font-size: 1.7vw;
    font-weight: 500;
}
#mentions a {
    text-decoration: none;
    color:#C518DD;
    margin-top: 5%;
}
#mentions p {
    font-size: 2.7vw;
    font-weight: 600;
    margin-bottom: 10%;
}

/* ============================= */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5%;
    padding: 1% 0%;
    background-color: rgb(45, 45, 55);
    border-top: 1px solid whitesmoke;
}
#company {
    display: flex;
    align-items: center;
    justify-content: left;
}
#company p {
    width: 65%;
}
#company .div-img {
    width: 15%;
    padding-right: 2%;
}
#footer img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
}
#socialContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#socialContact a {
    filter: contrast(0);
    cursor: pointer;
    width: 14%;
    margin: 5% 0%;
}

#contrato {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0% 5%;
}
#contrato ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
#contrato li{
    width: 100%;
    text-align: center;
}
#contrato p {
    margin: 2% 0;
    text-align: center;
}