@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
}

html, body {
    height: 300%;
    background-color: rgb(252, 252, 252);
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

#img {
    width: 12%;
    margin-left: 5%;
}

#nav2 #img {
    width: 25%;
}

#nav2 {
    height: 55px;
    position: fixed;
    width: 100%;
    border-radius: 80px;
    transition: all 0.4s ease-in-out;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all 0.5s ease;
}

#navbar {
    top: 0;
    height: 80px;
    width: 100%;
    border-radius: 80px;
    margin-bottom: -50px;
}

#header.hide {
    top: -1000px;
}

#nav2.show {
    top: 0;
}

.nav-wrapper {
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.829);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 40%;
    box-shadow: 0px 1px 3px 0px black, inset 0px 0px 1px 1px rgb(36, 35, 35);
}

.nav-wrapper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.712);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.nav-list {
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-end;
}

#nav2 .nav-list {
    font-size: 1.4vw;
    width: 100%;
}

#menu {
    display: flex;
    align-items: center;
}

ul.menu {
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    width: 12%;
}
ul > li {
    cursor: pointer;
}
ul>li:hover{ 
    color: rgb(234, 11, 140);
    fill: rgb(234, 11, 140);
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 60%;
}

#nav2 ul {
    margin-right: 0;
}

#li-btn {
    background-color: rgb(234, 11, 140);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    width: 50%;
    font-size: 1.3vw;
    font-weight: 500;
    box-shadow: 0px 1px 3px 0px rgb(234, 11, 140), inset 0px 0px 1px 1px rgb(234, 11, 140);
    transition: all 0.3s ease;
}
#li-btn a{
    text-decoration: none;
    color: whitesmoke;
}
#li-btn:hover{
    transform: scale(1.08);
    background-color: rgb(252, 41, 164);
    box-shadow: 0px 0px 10px 1px rgb(234, 11, 140);
}

#li-btn1 {
    background-color: cornflowerblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 18%;
    font-size: 1.45;
}


/* ==== Side Nav ==== */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(254, 254, 254);
    overflow-x: hidden;
    transition: all 0.5s ease;
    padding-top: 60px;
    z-index: 10;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: rgb(19, 18, 18);
    display: block;
    transition: 0.3s;
    margin-bottom: 25px;
    white-space:pre-line;
    width: 400px;
}

.sidenav a:hover{
    color: #f1f1f1;
}
.closebtn:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    color: #818181;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#social img {
    height: 100%;
    width: 55% !important;
    object-fit: scale-down;
}
#social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#side-container {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(17, 17, 17, 0.657);
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 1;
}
/* =================== */


/* ==== Section 1 ==== */
#sec1 {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#imgs {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#tarjeta{
    margin-top: -87.5%;
    margin-right: -20%;
    width: 80%;
}
#chic {
    width: 100%;
}
#cel {
    width: 75%;
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 300px;
}

.title h1 {
    font-size: 4vw;
    font-weight: 500;
}
.title form {
    width: 100%;
}
.title input {
    width: 100%;
    margin-bottom: 10%;
    border: none;
    border-bottom: 1px solid rgb(46, 45, 45);
    color: black;
    outline: none;
    padding-bottom: 4px;
}
.title input::placeholder{
    color: rgb(66, 66, 66);
    font-weight: 500;
}

.title button {
    width: 100%;
    font-size: 1.5vw;
    border: none;
    border-radius: 50px;
    padding: 12px;
    background-color: rgb(234, 11, 140);
    color: white;
}
/* =================== */


/* ==== Section 2 ==== */
#sec2 {
    line-height: 60px;
    color: rgb(41, 41, 41);
}
#comments {
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#comments h2{
    margin: 3% 0;
    font-size: 2.15vw;
    font-weight: 500;
}
#text{
    text-align: center;
    width: 70%;
    font-size: 2.5vw;
    font-weight: 600;
}
#comments a{
    margin: 3% 0;
    font-weight: 500;
    font: 1.85vw;
}
/* ==================== */


/* ==== Section 3 ==== */
#sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #341d74;
}
#sec3 > p {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    margin: 3.5% 0;;
}

#benef {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 11vw;
}
#benef div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 2%;
    border-radius: 5px;
}
#benef img {
    width: 55% !important;
    object-fit: scale-down;
    border: 0;
}
#benef p {
    width: 80%;
    text-align: center;
}

#need {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 11vw;
}
#need div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    margin: 2%;
}
#need img {
    width: 55% !important;
    object-fit: scale-down;
    border: 0;
}
#need p {
    width: 80%;
    text-align: center;
    display: inline;
    align-items: center;
    align-content: center;
}

#sec3 button {
    margin: 5% 0;
    width: 25%;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: rgb(234, 11, 140);
    color: white;
}